.aboutContainer {
  padding-top: 3rem;
}

.aboutDetails__header {
  font-size: 2.7rem;
  text-align: center;
  color: rgb(51, 51, 51);
}

.aboutDetails__text p {
  color: rgb(51, 51, 51);
}

.membersHeader {
  font-size: 2.7rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: rgb(51, 51, 51);
}

.membersCardContainer {
  display: flex;
  justify-content: center;
}

.exampleContainer div {
  background: #d309e1;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 1200px) {
  .membersHeader {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .aboutDetails__text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .membersCardContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
