.aboutContainer {
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(9, 9, 41, 0.5);
  position: relative;
}

.aboutTitle {
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: bolder;
  color: #fff;
}

.aboutLeadText {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 30px;
}

.aboutButton {
  width: 200px;
  height: 50px;
  font-weight: bold;
  background-color: orangered;
}

.aboutButton:hover {
  background-color: rgb(255, 94, 35);
}

.imageCover {
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .aboutContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
