.gridContainer {
  min-height: 500px;
}

.detailsContainer {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.detailsContainer h1 {
  font-size: 2.3rem;
  margin: 0;
  text-align: center;
  color: rgb(51, 51, 51);
}

.detailsContainer p {
  text-align: center;
  color: rgb(51, 51, 51);
}

.imageContainer {
  position: relative;
  min-height: 500px;
}

#secondImage {
  display: none;
}

.servicesHeader {
  font-size: 2.3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: rgb(51, 51, 51);
}

.servicesCardContainer {
  display: flex;
  justify-content: center;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  #firstImage {
    display: none;
  }
  #secondImage {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .servicesHeader {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .servicesCardContainer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
