.headerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(9, 9, 41, 0.5);
  position: relative;
}

.headerTitle {
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: bolder;
  color: #fff;
}

.headerLeadText {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 30px;
}

.imageCover {
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
